<h1>ATM View</h1>
<div class="main">
  <section class="display">
     Welcome!
    <!-- Display Feedback information here -->
   <div class="jumbotron text-center" *ngIf="submitted">
    <h2>Thanks for your submission!</h2>
    <p>We appreciate it!</p>
    <h3>{{ diagnostic }}</h3>
</div>
    
    <!-- Display Customer Balance  -->
  
    <div><h4 class="options" id="balance"> {{ balance | number:0}}</h4></div>
    <div>
      <h4>Last 5 Transactions</h4>
    </div>
    <div *ngIf="isShow">
    <ul>
      <li *ngFor="let transaction of bankService.account.transactions | slice:0:5">
        {{ transaction.date }} {{ transaction.type | uppercase }}  {{ transaction.amount }} {{ transaction.currency | uppercase }}
      </li>
    </ul>
    </div>
    
  </section>
  <aside class="options">
      <input type="number" min="1" max="1000"    [(ngModel)]="numberNew" />
    <ul class="options-list">
      <li class="options-item">
        <button *ngIf="balance > 1" (click)="onWithdraw()">Make a Widthdrawl</button>
      </li>
      <li class="options-item">
        <button (click)="onDeposit()">Deposit Money</button>
      </li>
      <li class="options-item">
        <button (click)="changeShow()">Transactions History</button>
      </li>
    </ul>
  </aside>
</div>
